[2020-10-16 14:13] Git-Harshit opened #3 "The Project is missing required Documentation"
The Repository has just a README file for documentation, and that is empty as well with nothing more than a Project Heading (which is same as the repository content). Moreover, additional documents such as Contributing, Code of Conduct, and any other are missing for the repository. Including these items in here will allow new users to be able to join in and will facilitate them in understanding th

[2020-10-16 14:14] Git-Harshit commented on #3
@swarupbhanjachowdhury Please add any relevant labels to it, then allow me to work on this, and let me add at least some of the content for you to review and others to add upon later.

[2020-10-18 07:17] Harshita248 commented on #3
@Git-Harshit go ahead and add the above files for a clear understanding. Thank you for help : )

[2020-10-18 07:37] Harshita248 opened #5 "Please check the paths of the css , img and js folders before running the sample files"
If the paths are not correct fix it and do a pr

[2020-10-18 08:01] ShauryaBhandari opened #6 "Create proper folder structure"
A proper and optimised folder structure needs to be created. I was thinking of a server-client classic folder structure, but it is open for discussion.
Please discuss in this comment thread what you think might be the best option.

[2020-10-18 08:04] sanchibansal340 commented on #6
Server Client sounds good. We can move the assets folder inside the client.

[2020-10-18 08:05] sravani-7701 commented on #6
Server client idea is cool

[2020-10-18 08:05] ShauryaBhandari opened #7 "Orphan Support Logo"
- A logo needs to be created for the project. Make sure it is available as a png, svg and .iso format.
- Also, 1 for light mode and another for dark mode.
- Multiple people can take this issue up, the best one shall be used.
All the best, happy hacking!

[2020-10-18 08:08] ShauryaBhandari commented on #6
Cool. I have started making issues, I will be adding more and also labels for the same as soon as I get write access to the repo.
This issue can be taken up till then. :+1:

[2020-10-18 08:09] sanchibansal340 commented on #6
Would like to work on it.

[2020-10-18 08:10] ShauryaBhandari opened #8 "Improve Documentation"
- There are a lot of grammatical errors in the README, that needs to be changed.
- Add more details about the project.
- Add gifs, images, etc. to make it more readable and attractive.
**All the best!**

[2020-10-18 09:21] sravani-7701 commented on #5
Would you please assign this to me

[2020-10-18 09:36] ShauryaBhandari opened #9 "Overall Design"
**NOTE: THIS IS NOT AN ISSUE**
This is just a discussion thread to discuss the design we can go ahead with for the project. Example templates/mockups are welcome.
I would like to keep the design minimalistic and clean, discussions welcome.
Also, it should have a dark/light mode.
Please comment any suggestions you might have.

[2020-10-18 09:41] ShauryaBhandari commented on #5
Assigned to you @sravani-7701 , please add the steps to run it in the readme as well, if needed.

[2020-10-18 12:44] odavhad commented on #8
May I work on this?

[2020-10-18 12:47] ghost commented on #8
May I work on this?

[2020-10-18 14:22] sakshi300699 commented on #8
Can I give a hand too if possible?

[2020-10-18 14:24] SanjeebNath382 commented on #8
can i work on this?

[2020-10-18 14:26] SanjeebNath382 commented on #7
hey can i try this?

[2020-10-18 14:29] ShauryaBhandari commented on #8
Only 2 people can be assigned an issue at a time, so I am assigning @sakshi300699
If they fail to complete it, I will assign it to you @SanjeebNath382

[2020-10-18 14:30] ShauryaBhandari commented on #7
Please go ahead.

[2020-10-18 17:15] Git-Harshit commented on #9
Checking up the current page design and progress after every update manually is redundant, and we can instead rely on a live demo of the main branch. It'd be great if the sanscript-tech team could host their repository online (even with GitHub-Pages should work).

[2020-10-18 17:16] Yashi30 commented on #9
https://colorlib.com/wp/template/unicare/
Can use this template for Landing page!!

[2020-10-18 17:23] Adithya-adi-Menon commented on #5
Could You Please Assign this to me

[2020-10-18 17:23] ShauryaBhandari commented on #9
Makes sense @Git-Harshit
@Harshita248  Please look into this once.

[2020-10-18 17:26] ShauryaBhandari commented on #5
@Adithya-adi-Menon There is an active PR for this issue, in case that is not merged, I will assign it to you.

[2020-10-18 17:28] ShauryaBhandari opened #12 "Website mockups"
Mockups need to be made for the project so that the front-end devs can directly start working on them.
Need some professional UI/UX designers for this issue.
The best design will be used and implemented.
#9 Can be tracked for inputs given by people.
**All the best!**

[2020-10-18 17:33] ShauryaBhandari opened #13 "Colour scheme and fonts"
Ideas regarding the best colour scheme (light and dark) and the best suited font for this.
Submit your ideas below and the best one will be used.
**All the best!**

[2020-10-18 18:06] punitsakre23 commented on #7
Hi, I'll make one.

[2020-10-19 04:02] punitsakre23 commented on #13
Hi, I'll do this.

[2020-10-19 04:18] akshat-fsociety commented on #9
@ShauryaBhandari template for design idea
![Screenshot (63)](https://user-images.githubusercontent.com/64137417/96400978-ced73b80-11ef-11eb-8f04-609f52d6ec96.png)

[2020-10-19 04:26] #3 closed

[2020-10-19 04:33] Harshita248 commented on #7
you also go ahead @punitsakre23  - the one which is found better will be used

[2020-10-19 04:51] Harshita248 commented on #9
For that @Git-Harshit I need to talk to them . Will let you know : )   And @akshat-fsociety the template looks good . When few people will put their templates idea , we will decide which one to go with after a discussion with everyone.

[2020-10-19 04:52] Harshita248 commented on #12
**Illustrations relevant to the website are also welcomed.**

[2020-10-19 04:54] Harshita248 commented on #13
@punitsakre23 please comment your ideas and when decided we can move with it : )

[2020-10-19 05:35] chehak123 opened #14 "Improve contributing.md"
Organize various steps to contribute to the project and add screenshots/images to make it attractive and interesting.

[2020-10-19 06:58] Adithya-adi-Menon commented on #5
I have successfully completed the issue . I kindly request you to review and merge the pull request

[2020-10-19 07:28] raksha27yadav commented on #7
can i take up the work?

[2020-10-19 07:57] Harshita248 commented on #7
Check the rules please. It's already assigned to two people . If not found good you can go ahead but not now. @raksha27yadav
if you want to show you can on the slack channel

[2020-10-19 08:01] Harshita248 commented on #5
_For now I'm merging the pull request but unless you are assigned to work on a particular issue please don't make a pr otherwise it won't be merged._ @Adithya-adi-Menon

[2020-10-19 08:32] raksha27yadav commented on #7
fine

[2020-10-19 08:56] shivangisinghal0304 commented on #8
Can I work on this?

[2020-10-19 08:59] shivangisinghal0304 commented on #14
Can i work on it?

[2020-10-19 09:53] shivang-garg commented on #14
Can i work on it?

[2020-10-19 18:41] bhavesh1129 commented on #14
May I work on it?

[2020-10-19 18:44] sanchibansal340 commented on #6
@ShauryaBhandari There isn't any server side code for PHP from what I understand.
I am not sure as I don't work with PHP but I guess there won't be any server side code either.

[2020-10-19 19:41] bhavesh1129 commented on #9
May I work on it?

[2020-10-20 04:24] ShauryaBhandari commented on #9
Go on @bhavesh1129 , we would like to have as many options as possible.

[2020-10-20 04:25] ShauryaBhandari commented on #6
I see @sanchibansal340 . I have never worked with php till date, I would love to know more about the same. :D

[2020-10-20 04:38] punitsakre23 commented on #13
![Fifth](https://user-images.githubusercontent.com/66567141/96540806-3b1f7100-12bc-11eb-93b5-cc88b67ccd2f.png)
![First](https://user-images.githubusercontent.com/66567141/96540810-3c509e00-12bc-11eb-8955-fa1577a6824b.png)
![Fourth](https://user-images.githubusercontent.com/66567141/96540814-3d81cb00-12bc-11eb-81f3-b7ca4386ed97.png)
![Second](https://user-images.githubusercontent.com/66567141/96540

[2020-10-20 04:40] punitsakre23 commented on #13
I tried, plz let me know if I need to change something or any other shades.

[2020-10-20 04:47] SanjeebNath382 commented on #7
@ShauryaBhandari
Logo 1- black
![logo2-black](https://user-images.githubusercontent.com/59302663/96541083-ddd7ef80-12bc-11eb-8e7e-ecaf30d9efc7.png)

Logo 2-black

![logo1-black](https://user-images.githubusercontent.com/59302663/96541312-5b036480-12bd-11eb-9453-9f7c592f0de7.png)

Please review these logos, i have them in white coloue as well for the dark mode.

[2020-10-20 04:49] ShauryaBhandari commented on #13
Nice job @punitsakre23 ! Looks really good.

[2020-10-20 04:49] ShauryaBhandari commented on #13
@Harshita248 Please approve.

[2020-10-20 04:50] ShauryaBhandari commented on #7
Looks nice @SanjeebNath382
@Harshita248 please review. Do we need to have orphan support in name or just sanscript?

[2020-10-20 05:13] Harshita248 commented on #13
yes its good . Lets go with second or third one @punitsakre23

[2020-10-20 05:19] punitsakre23 commented on #13
Thankyou @ShauryaBhandari  and @Harshita248

[2020-10-20 05:23] punitsakre23 commented on #13
Do I need to send a pull request with snip or do something else?

[2020-10-20 05:36] Harshita248 commented on #14
Go ahead @shivangisinghal0304 as its first come first serve basis and we do not require more than one person @bhavesh1129

[2020-10-20 06:24] Harshita248 commented on #7
Yes it looks good but if you have a word related to orphan instead of sanscript that would be much better . @SanjeebNath382 @ShauryaBhandari

[2020-10-20 07:05] sejalshri commented on #13
@Harshita248 @ShauryaBhandari Can i add custom scrollbar according to the color theme ?

[2020-10-20 08:26] ShauryaBhandari commented on #13
Yes please do. But don't make it too colourful/shiny. Keep it plain and subtle, but add one.

[2020-10-20 08:50] saloniankita commented on #12
Can I and my teammate @bhanvimenghani work on this issue together ?

[2020-10-20 13:11] debargham14 commented on #9
For this project we can consider two things important 1. the schema of the project (main functionalities and their flow) 2. the template (bootstrap files that we'll be working on). For bootstrap we can use md boot strap its good and easy to use
@ShauryaBhandari

[2020-10-20 13:22] ShauryaBhandari commented on #9
Right on point @debargham14 , we have to finalize the template by today and start working on the schema and flow from tomorrow.

[2020-10-20 13:44] Harshita248 commented on #12
yes you can but you both have to put the screenshots here too @saloniankita @bhanvimenghani

[2020-10-21 03:41] sanchibansal340 commented on #6
@ShauryaBhandari Same, I work with Node.js
But after researching a bit I got to know that with PHP we make one .php file and include html code there itself.
We can run that PHP file using Xampp, Mamp

[2020-10-21 07:38] Shivangi22Agarwal commented on #7
Willing to try my graphic designing skills on this

[2020-10-21 07:42] Shivangi22Agarwal commented on #9
I'd love to design nice graphics ( using colors as per the demand ) for the website

[2020-10-21 08:56] punitsakre23 commented on #13
![Font1](https://user-images.githubusercontent.com/66567141/96697298-5fa54700-13a9-11eb-96c6-23cd3d59b024.png)
![Font2](https://user-images.githubusercontent.com/66567141/96697305-616f0a80-13a9-11eb-884d-1bde434b5614.png)
![Font3](https://user-images.githubusercontent.com/66567141/96697307-62a03780-13a9-11eb-8b08-df936425131b.png)
![Font4](https://user-images.githubusercontent.com/66567141/9669731

[2020-10-21 08:59] punitsakre23 commented on #13
Are the fonts good or require some changes. @ShauryaBhandari @Harshita248

[2020-10-21 10:45] Harshita248 commented on #7
Okay if you have made logos previously you can work on this @Shivangi22Agarwal

[2020-10-21 11:11] Shivangi22Agarwal commented on #7
Thanks @Harshita248, if there's any preferences for color combination please let me know

[2020-10-21 14:17] chehak123 commented on #7
@Shivangi22Agarwal You can go ahead with black and white color scheme for now. Color scheme can be changed later on as per the website.

[2020-10-21 14:19] chehak123 commented on #9
@Shivangi22Agarwal you can put forward your ideas regarding it.

[2020-10-21 16:26] bhavesh1129 commented on #7
May I also try to design the logo?

[2020-10-21 16:37] punitsakre23 commented on #13
??? Correct me if I got it wrong.

[2020-10-22 06:49] bhavesh1129 commented on #7
@ShauryaBhandari, @Harshita248
**LOGO-1(White)**

![OrphanWhiteLogo (1)](https://user-images.githubusercontent.com/54619203/96833191-a48ab580-145d-11eb-8891-c6a0a5a3fb72.png)

**LOGO-2(White)**

![OrpahnWhiteLogo2](https://user-images.githubusercontent.com/54619203/96834936-72c71e00-1460-11eb-90be-415ad7b62a6e.png)

Please review these logos, I've these logo's in black colour as well for the norma

[2020-10-22 08:48] Harshita248 commented on #14
@shivangisinghal0304 please complete this asap by tomorrow otherwise it will be assigned to someone else

[2020-10-22 08:52] Harshita248 commented on #7
@bhavesh1129 please follow the rules and don't make a pr until you are assigned with it. For now I have merged the pr but please abide by the rules . Everyone will get a chance to work on it.

[2020-10-22 09:18] bhavesh1129 commented on #7
Oops Sorry, Harshita will take care of from next time.
and Thanks for merging my PR!!

[2020-10-23 07:00] Harshita248 commented on #14
@bhavesh1129 go ahead as I cannot see any progress by @shivangisinghal0304 so now @bhavesh1129 work on this issue please and  try to complete it asap

[2020-10-23 07:03] Harshita248 commented on #13
keep the third one for the font style @punitsakre23

[2020-10-23 07:05] Harshita248 commented on #12
@saloniankita and @bhanvimenghani please work faster or else will assign the issue to someone else

[2020-10-23 07:07] Harshita248 commented on #9
@akshat-fsociety please send the link of the screenshot of the template that you have mentioned above. We want to see as we are looking for a good one .

[2020-10-23 07:08] Harshita248 commented on #8
This issue has been completed by @sakshi300699

[2020-10-23 07:09] #8 closed

[2020-10-23 07:10] Harshita248 commented on #6
yeah you can go forward with this @sanchibansal340  it works the same as you told

[2020-10-23 07:11] Harshita248 commented on #5
this has been done

[2020-10-23 07:11] #5 closed

[2020-10-23 10:54] akshat-fsociety commented on #9
@Harshita248 https://www.operation-orphan.org/

[2020-10-23 11:39] saloniankita commented on #12
We are working on this issue @Harshita248 . We'll be adding the screenshots soon.

[2020-10-23 15:01] tanayduggad0299 opened #23 "Website Footer."
Can I work on this along with my team?

[2020-10-23 15:47] Tejas1510 commented on #23
I would love to work on this issue

[2020-10-23 17:25] chehak123 commented on #23
@tanayduggad0299 you can go ahead with it. Do propose your ideas along with screenshots.

[2020-10-23 17:29] chehak123 commented on #23
@Tejas1510 due to first come first served basis, this issue is currently assigned to @tanayduggad0299. It would be assigned to you later if some help would be needed.

[2020-10-23 17:38] Tejas1510 commented on #23
Sure Sir
Thanks for response

On Fri, 23 Oct 2020, 10:59 pm Chehak Agrawal, <notifications@github.com>
wrote:

[2020-10-23 17:52] tanayduggad0299 commented on #23
Thanks for assignment!!

[2020-10-25 14:47] saloniankita commented on #12
These are some of the illustrations that I came up with, that aligns with the **theme of the project**.
Kindly have a look at these.
![Design-1](https://user-images.githubusercontent.com/56873389/97110353-ba6ad580-16fe-11eb-82bc-a7d05bcc6bd9.png)

![Design-2](https://user-images.githubusercontent.com/56873389/97110352-b9d23f00-16fe-11eb-977f-20ed6678f8fb.png)

![Design-3](https://user-images.githu

[2020-10-26 04:33] #14 closed

[2020-10-26 10:56] Harshita248 commented on #9
this is done

[2020-10-26 10:56] #9 closed

[2020-10-28 06:24] ujwal111 opened #30 "Creating a database table structure for storing data of children"
Creation of database table where the information of all the children are available/accessed, Can I work on this issue?

[2020-10-28 06:26] SanjeebNath382 commented on #30
Hey can I work on this?

[2020-10-28 07:40] Harshita248 commented on #30
Go ahead @ujwal111 and if you want any help @SanjeebNath382 can help you out with it

[2020-10-28 07:47] Harshita248 opened #31 "Create a proper control workflow for the entire work to be processed with the website."
Clone the files on your localhost and create the workflow, those who are really good with it take up the issue and start working on it. Dm me for any help or guidance required to proceed .

[2020-10-28 08:09] ujwal111 commented on #30
Thank you for the assignment, I will surely take the help of @SanjeebNath382 if I ever get stuck in the middle

[2020-10-28 09:45] SanjeebNath382 commented on #30
Sure @ujwal111 👍

[2020-10-28 13:04] #6 closed

[2020-10-28 13:05] Harshita248 commented on #13
All good

[2020-10-28 13:05] #13 closed

[2020-10-29 08:53] #30 closed

[2020-10-29 12:53] #31 closed

[2020-10-29 14:47] Harshita248 commented on #23
Design the footer according to the template , do it fast

[2020-10-29 14:51] Harshita248 opened #35 "organize the navbar with menu options and login and register buttons"
Navbar should include logo, home page, about, blog, causes, contact us pages with donate now ,login and register buttons on the right. Remove the rest . Also remove the details from the top like follow us, call and email details as we will include that in the footer.

[2020-10-29 15:06] tanayduggad0299 commented on #23
Sure, I will submit this soon.

[2020-10-29 16:35] Harshita248 opened #36 "Organize the homepage with relevant illustrations at different places and remove certain sections"
Remove volunteer sections, events as well as article sections and make the homepage look good by adding latest css styling.

[2020-10-29 16:41] Harshita248 opened #37 "Add a login and signup page relevant to the website."
Also add illustrations and make it look good as needed.

[2020-10-29 16:42] Harshita248 opened #38 "Add good illustrations and images to be used in the website ."

[2020-10-29 16:48] SanjeebNath382 commented on #37
Hey can I take up this, I have to add the scripting as well right?

[2020-10-29 17:01] Harshita248 opened #39 "Create a database to store the details of registration of any person (parent/user/orphanage) . Also work with login"
After one gets registered he/she should be notified as 'already registered' so that one can login easily. Implementation of forgot password needs to be there as well.

[2020-10-29 17:01] chehak123 opened #40 "Add relevant and catchy content in donate page."

[2020-10-29 17:03] chehak123 opened #41 "Suggest and add appropriate captions for home page header section."

[2020-10-29 17:03] SanjeebNath382 commented on #39
Hey, so the person who is making the login or sign-up page, can he add the relevant scripts and database?

[2020-10-29 17:06] Harshita248 opened #42 "Also work on showing the details of children which gets displayed following the about us section in that page."
fetched details of children in orphanages. must get displayed on the about us page

[2020-10-29 17:08] chehak123 opened #43 "Add payment integration gateway for donate page using PHP"

[2020-10-29 17:12] Harshita248 opened #44 "Create a report section where a person after registration can create a report about an old age person who is abandoned by the family."
If a person finds a child or any elderly person abandoned by family ..one can create a report so that an email with the person's details and  also the details of one who is abandoned should be sent to nearby orphanages. **Also add age limit and occupation +salary of a person who is creating the report.**

[2020-10-29 17:17] chehak123 opened #45 "Suggest designs for photo gallery section in blog page"

[2020-10-29 17:18] Harshita248 opened #46 "Modify and create a blog page with certain blogs related to orphan support ."
The details of writer should include name , mail and unique id . Data to be stored as well as fetched from database.

[2020-10-29 17:24] Harshita248 opened #47 "Create a causes section as well as dropdown menu in donate now button on the navbar."
Causes section which is to be created must be based on the cause for which a person is donating a certain amount. Donate Now button on the navbar may include a dropdown which will have certain options of causes related to the orphans and whenever the user will donate for a particular cause , the percentage which is shown should increase or decrease accordingly. Backend implementation is required a

[2020-10-29 17:47] Himanshi2016 commented on #37
I would like to work on this issue.

[2020-10-29 17:55] Harshita248 commented on #37
@SanjeebNath382 go on with the priority of making both the pages relevant to the website yeah you can add validation and all required here. But for storing the details we have another issue listed so don't work on that here. We have separate issues and separate pr's will be accepted.

[2020-10-29 17:56] Harshita248 commented on #37
@Himanshi2016  if the work is not done within time constraint or can be enhanced then if needed I may assign this to you but not now.

[2020-10-29 17:58] Harshita248 commented on #39
Yes you can @SanjeebNath382 but first you create the signup and login pages for the website and work according to that pr. This can be assigned later . Focus on one issue which is assigned to you. After completion I may assign this to you .

[2020-10-29 18:02] bhavesh1129 commented on #41
Hey! Can I take this issue and work on it?

[2020-10-29 18:02] bhavesh1129 commented on #40
May I work on this?

[2020-10-29 18:03] bhavesh1129 commented on #38
Hey, @Harshita248 Can I try to work on this issue?

[2020-10-29 18:16] Harshita248 commented on #38
yes sure go ahead @bhavesh1129  bring at least 5-8 of them

[2020-10-29 18:43] Himanshi2016 commented on #35
I would love to work on this issue. Only documentation right ?

[2020-10-29 18:44] Himanshi2016 commented on #37
Okay , Thanks

[2020-10-29 19:12] Harshita248 commented on #35
Yes @Himanshi2016 go ahead

[2020-10-29 19:25] m-code12 commented on #36
I would like to take this up @Harshita248

[2020-10-29 19:58] pwilson77 commented on #43
I will like to work on this issue @chehak123

[2020-10-29 20:02] pwilson77 commented on #46
I will like to work on this issue @Harshita248

[2020-10-29 22:15] sakshi300699 commented on #41
Would like to work on this

[2020-10-29 22:32] steveoo-tech commented on #36
I would love the opportunity to take this challenge! It would be my first contribution ever and I'm excited

[2020-10-29 22:52] sakshi300699 commented on #40
Would like to work on this

[2020-10-29 23:02] sakshi300699 commented on #42
I believe that here it's the front end, we need to work on, fetching the data (given in the children database, given in mock control flow) and displaying it on the page. Am I right?

[2020-10-30 03:22] Harshita248 commented on #42
Database is done just fetching and displaying of data on the page needs to be added.

[2020-10-30 03:46] Harshita248 commented on #46
If you are enrolled as a participant under Autumn of Open Source 2020 then surely you can go ahead @pwilson77 otherwise don't

[2020-10-30 03:47] Harshita248 commented on #36
Go ahead @m-code12  if you are a participant under Autumn of Open Source 2020 then you can work on this issue.

[2020-10-30 03:48] Harshita248 commented on #36
@steveoo-tech  the issue is being assigned on first come first serve basis so possibly look for some unassigned ones.

[2020-10-30 03:56] Harshita248 opened #49 "Create config.php to establish connection from the database moreover to get the details."

[2020-10-30 04:22] chehak123 commented on #43
Go ahead @pwilson77

[2020-10-30 04:24] chehak123 commented on #41
@bhavesh1129 and @sakshi300699 both of you can give your suggestions here. Appropriate ones would be finalized.

[2020-10-30 04:29] chehak123 commented on #40
It is assigned to you @bhavesh1129 due to first come first served basis. @sakshi300699 look for some other unassigned issues.

[2020-10-30 04:50] chehak123 commented on #43
@pwilson77 if you are a participant under Autumn of Open Source then you can work on it.

[2020-10-30 05:48] sakshi300699 commented on #42
Okay ma'am, would like to work on this

[2020-10-30 06:08] pwilson77 commented on #43
@chehak123 yes I am a participant I will start working on it

[2020-10-30 06:22] m-code12 commented on #36
Yes I am

[2020-10-30 06:52] Harshita248 commented on #42
Okay @sakshi300699  you can go ahead. In case of any problem ask in orphan support channel on slack.

[2020-10-30 07:44] Shubham-1105 commented on #47
I want to work on this.

[2020-10-30 08:12] debargham14 commented on #49
Hey, I have solved this issue and generated a pull request

[2020-10-30 08:23] Harshita248 commented on #47
Okay @Shubham-1105 go ahead.

[2020-10-30 08:24] Harshita248 commented on #49
Ok @debargham14

[2020-10-30 08:25] #49 closed

[2020-10-30 08:29] chehak123 commented on #43
Great!! you may go ahead

[2020-10-30 14:29] Akansha-Bhandari commented on #45
i would like to work on this issue..

[2020-10-30 16:27] sravani-7701 commented on #44
Could you please assign this to me

[2020-10-30 17:29] Surajbokde commented on #45
i would like to work on this issue

[2020-10-30 17:48] Surajbokde commented on #41
hey i would like to work.
`RAISE YOUR HELPING HANDS FOR POOR PEOPLE`
`Donate For The Orphanage Children`
we can use this as Caption .
with a background image .
Orphanage Support at header Not looking attractive ,instead we include that in nav bar.
after that our header section will start.
this header we may include in the home page only.

[2020-10-30 18:28] Surajbokde commented on #7
hey i design a logo ,so can i share?

[2020-10-30 19:30] Harshita248 commented on #44
Yeah okay @sravani-7701

[2020-10-30 19:32] Harshita248 commented on #7
@Surajbokde please share it on slack channel of orphan support php

[2020-10-31 05:45] chehak123 commented on #45
@Akansha-Bhandari and @Surajbokde both of you can share your ideas here itself regarding photo gallery designs. Appropriate one will be chosen and will be assigned.

[2020-10-31 05:47] chehak123 commented on #23
Do add the screenshots.

[2020-10-31 07:53] #23 closed

[2020-10-31 08:40] punitsakre23 commented on #35
I would like to work on this.

[2020-10-31 08:43] punitsakre23 commented on #39
I like to work on this.

[2020-10-31 08:46] punitsakre23 commented on #41
I would like to work on this.

[2020-10-31 13:02] Harshita248 commented on #39
Okay go ahead @punitsakre23  . In case of any doubts ask any of the mentors.

[2020-10-31 17:55] Surajbokde commented on #45
@chehak123 should i post ss here

[2020-10-31 19:02] chehak123 commented on #45
yes you can

[2020-10-31 19:06] chehak123 commented on #46
@pwilson77 I have verified you as a participant in AOS so you can go ahead with this issue.

[2020-10-31 19:16] pwilson77 commented on #46
Sure @chehak123

[2020-11-01 04:20] Surajbokde commented on #45
![Capture1](https://user-images.githubusercontent.com/66197682/97795033-70668000-1c27-11eb-867d-1d793efcb67c.JPG)
![Capture](https://user-images.githubusercontent.com/66197682/97795038-7bb9ab80-1c27-11eb-85ee-f367ef7de7aa.JPG)
@chehak123  plz check .given images are both in dark and light theme

[2020-11-01 05:38] chehak123 commented on #45
These are blogpost cards template. I want suggestions for photo gallery.

[2020-11-01 07:16] Surajbokde commented on #45
ok we can make a new blog-gallery page.
![Capture4](https://user-images.githubusercontent.com/66197682/97797092-fb537480-1c3f-11eb-95b9-1c10c733e856.JPG)
![Capture3](https://user-images.githubusercontent.com/66197682/97797093-fd1d3800-1c3f-11eb-95df-17b2bb42cd61.JPG)
![Capture5](https://user-images.githubusercontent.com/66197682/97797094-fdb5ce80-1c3f-11eb-9df7-e4f088626401.JPG)

@chehak123  just

[2020-11-01 10:47] sakshi300699 commented on #41
Some Suggestions for caption for homepage :

-  Let's make miracle happen in someone's life, by giving them the gift of a family.

- To be someone's family doesn't require blood relation, the feeling of love and commitment is enough.

- The purest kind of service that one can do to mankind is gifting someone the privilege to love and be loved in a family.

- Orphanage Support : A place where famil

[2020-11-02 04:32] chehak123 commented on #41
@Harshita248 kindly finalize the captions for home page.

[2020-11-02 05:37] Harshita248 commented on #41
3rd and 4th caption included by @sakshi300699  is good .... Looking for your opinion @chehak123

[2020-11-02 05:59] chehak123 commented on #41
@sakshi300699 add 3,4th caption in header section in home page and make the pr

[2020-11-02 06:01] chehak123 commented on #41
@bhavesh1129 add second caption of the ones suggested by you in header section and make the pr

[2020-11-02 06:03] sakshi300699 commented on #41
Okay Ma'am!

[2020-11-02 06:04] chehak123 commented on #40
@bhavesh1129 Reduce the content for donate page and we'll keep the layout as it is.

[2020-11-02 06:05] chehak123 commented on #40
make seperate prs for all issues

[2020-11-02 06:11] chehak123 commented on #45
we don't need a full gallery page. we need just a section of photo gallery (a collage type) and we can add carousel to make it attractive.

[2020-11-02 06:41] chehak123 commented on #7
@SanjeebNath382 kindly add 1st logo suggested by you in the project and make the pr. Do add the screenshots along with it.

[2020-11-02 11:29] Surajbokde commented on #45
![image](https://user-images.githubusercontent.com/66197682/97862783-f1a73b00-1d2b-11eb-9626-ad43ee18e846.png)

i don't what exactly u want but we can make collage of this type .
we can do 2 things -
1.we can make collage images ready . and perform slideshow.
2. or we can make the section (as given in image)  of this and apply effect on it so that image get change after every 2 sec. this will look

[2020-11-02 15:19] ujwal111 commented on #39
Hi, I wanted to bring this to your notice, that some part of the issue is already implemented by me on 29th October, please refer the orphansupport.sql file, the entire database part is done, but not the login part.

[2020-11-02 17:12] Harshita248 commented on #39
Yes @ujwal111  that's why I added login too beside it. Rest it's okay I have updated it so you can go ahead if you want

[2020-11-02 18:55] pallavithakare28 commented on #35
@Harshita248 May I work on this issue?

[2020-11-03 03:07] Harshita248 commented on #35
@pallavithakare28  it's already been assigned to someone as you can check and it's an easy issue so one person is enough for this. There are many more issues listed you can pick them accordingly : )

[2020-11-03 06:38] bhavesh1129 commented on #41
Ok Ma'am!

[2020-11-04 04:56] Surajbokde commented on #45
![image](https://user-images.githubusercontent.com/66197682/98070832-e832e580-1e87-11eb-8dbf-fee242077b49.png)
see this i got ,we can do this by using container.
and after 2-3 sec the image get changed.

[2020-11-04 05:00] Surajbokde commented on #45
![Uploading image.png…]()

[2020-11-04 05:02] Surajbokde commented on #45
![image](https://user-images.githubusercontent.com/66197682/98071204-ef0e2800-1e88-11eb-8ed9-ece8e46aa81b.png)

[2020-11-04 07:14] chehak123 commented on #45
The first one is looking good.
Make a section in blog page and add this section and for now use any sample img and make a pr. Do add screenshots also.

[2020-11-04 07:20] chehak123 commented on #40
add the caption which I approved on home page header carousel and just add the content on the donate page and keep the layout as it is.

[2020-11-04 15:27] Harshita248 opened #57 "Maintain a proper folder structure for keeping all the files in a structured manner."
Keep index.html and other related pages which we are using and remove the unnecessary ones like index-1 index-2 . Also once assigned for this issue , you will have 24 hours to complete it.

[2020-11-04 15:30] Harshita248 opened #58 "Add images to the readme wherever its missing and make it a little more descriptive ."
There are some images for fork , clone etc missing so please add particular image at the appropriate place.

[2020-11-04 17:33] bhavesh1129 commented on #58
Hey! Can I take this up??

[2020-11-04 17:33] bhavesh1129 commented on #57
Hey! May I work on this?

[2020-11-04 19:03] chehak123 commented on #7
@SanjeebNath382 make it fast or it will be assigned to someone else. Complete it by tomorrow.

[2020-11-04 19:04] chehak123 commented on #47
@Shubham-1105 do complete it by 6th November or it will be assigned to someone else.

[2020-11-04 19:13] chehak123 commented on #37
@SanjeebNath382 do complete it by 6th november or it will be unassigned.

[2020-11-04 19:19] chehak123 commented on #44
@sravani-7701 do complete it by 6th november or it will be assigned to somebody else.

[2020-11-04 19:20] chehak123 commented on #43
@pwilson77 make it faster and complete it by 7th november

[2020-11-04 19:21] #38 closed

[2020-11-04 19:24] #36 closed

[2020-11-04 19:53] m-code12 commented on #57
I would like to take this up.

[2020-11-04 19:54] m-code12 commented on #58
I would like to take up this issue.

[2020-11-04 20:48] pwilson77 commented on #43
ok @chehak123  am already done about I just need to check some few things before creating the pull request

[2020-11-05 06:30] ankita413 commented on #57
hey may i work on this?

[2020-11-05 07:01] Harshita248 commented on #58
@m-code12  go ahead for this issue
@bhavesh1129  you are already assigned with another one so work on that

[2020-11-05 07:02] Harshita248 commented on #57
@bhavesh1129 go ahead and complete it by today I need this as early as possible.

[2020-11-06 06:48] chehak123 commented on #7
@Surajbokde do add your suggested logo in the project and make the pr by today itself. Do add the screenshots.

[2020-11-06 06:49] #40 closed

[2020-11-06 06:50] #41 closed

[2020-11-06 06:52] chehak123 commented on #46
@pwilson77 complete it by today or it will be unassigned

[2020-11-06 06:57] Surajbokde commented on #7
@chehak123 thanks for assigning to me.
i will do it by today itself .

[2020-11-06 07:17] pwilson77 commented on #46
@chehak123  can u unassign me I unfortunately I am busy all weekend

[2020-11-06 13:47] #7 closed

[2020-11-06 13:48] #58 closed

[2020-11-06 13:48] #57 closed

[2020-11-06 13:50] chehak123 commented on #46
okay @pwilson77

[2020-11-06 14:49] Surajbokde commented on #46
@Harshita248 @chehak123 i would like to work on this issue . I will try to submit it till Monday night .

[2020-11-06 14:58] Harshita248 commented on #46
okay @Surajbokde

[2020-11-06 14:59] Harshita248 commented on #46
Try to submit till sunday if possible, we dont have much time

[2020-11-06 18:35] SanjeebNath382 commented on #37
I have made the PR and it has been merged

[2020-11-07 07:54] chehak123 commented on #37
okay great!!

[2020-11-07 07:54] #37 closed

[2020-11-07 13:05] chehak123 opened #67 "Add a relatable header picture on blog page"

[2020-11-07 13:07] chehak123 opened #68 "Update the logo and title on tab bar."

[2020-11-07 13:11] Surajbokde commented on #67
![image](https://user-images.githubusercontent.com/66197682/98442102-affe0200-2128-11eb-879b-ba2c8ec19118.png)
i choose this image

[2020-11-07 13:45] bhavesh1129 commented on #67
Can I take this up?

[2020-11-07 13:46] bhavesh1129 commented on #68
Can you please explain a Lil more and then assign it to me?

[2020-11-07 14:06] Harshita248 commented on #47
@Shubham-1105 you haven't completed it yet so I unassigned you. It was strictly mentioned to complete it within the deadline provided.

[2020-11-07 14:10] Harshita248 opened #69 "Create a really good content for home and about us page maybe on google docs ."
Share the link of google docs here , write content on it whenever you are working so that we can also have a look and lastly update it on home and about us page. No need for screenshots. Just provide google doc link where you will be writing the content.

[2020-11-07 14:16] Harshita248 opened #70 "Work on contact us page and create a report section inside it."

[2020-11-07 14:18] Harshita248 commented on #43
done

[2020-11-07 14:18] #43 closed

[2020-11-07 14:20] Harshita248 commented on #35
done

[2020-11-07 14:20] #35 closed

[2020-11-07 14:21] Harshita248 commented on #42
done

[2020-11-07 14:21] #42 closed

[2020-11-07 14:26] Surajbokde commented on #70
i would like to work on this

[2020-11-07 14:27] ujwal111 commented on #47
Hi can you tell me how I'm supposed to approach this issue?

[2020-11-07 14:28] Surajbokde commented on #44
@Harshita248 we are do this in contact us page so  i think no need of this

[2020-11-07 14:38] Harshita248 commented on #44
Okay

[2020-11-07 14:38] #44 closed

[2020-11-07 14:39] sakshi300699 commented on #69
Would like to work on this

[2020-11-07 14:39] Harshita248 commented on #70
If a person finds a child or any elderly person abandoned by family ..one can create a report so that an email with the person's details and also the details of one who is abandoned should be sent to nearby orphanages. `Also add age limit and occupation +salary of a person who is creating the report`.

[2020-11-07 14:40] Harshita248 commented on #67
This is already done so should I'm closing this issue.

[2020-11-07 14:40] #67 closed

[2020-11-07 14:41] Harshita248 commented on #69
Sure go ahead and also provide the link of Google docs

[2020-11-07 17:15] sakshi300699 commented on #69
Okay Ma'am

[2020-11-08 04:53] Harshita248 opened #71 "Modify and work on the causes page , connect it with backend."
Work on the content, images of causes page . Also take help from the person working on donate page because causes will be connected to donate now page.

[2020-11-08 06:54] Surajbokde commented on #46
@Harshita248  i make a pull request.

[2020-11-08 08:29] chehak123 commented on #68
![Screenshot (364)_LI](https://user-images.githubusercontent.com/53402167/98460442-87c6df80-21ca-11eb-98da-a3be984821c8.jpg)

Change the logo and title (on navbar) on all the pages.

[2020-11-08 08:31] chehak123 opened #73 "Remove the shopping cart icon on navbar and remove the header top on all pages which shows the social media icons and other details."

[2020-11-08 12:41] m-code12 commented on #73
I would like to take this up

[2020-11-08 13:06] chehak123 commented on #73
Go ahead @m-code12

[2020-11-08 15:45] Harshita248 commented on #70
done

[2020-11-08 15:45] #70 closed

[2020-11-08 15:47] Harshita248 commented on #39
@punitsakre23 when will this be done ?

[2020-11-08 15:49] Harshita248 commented on #45
done

[2020-11-08 15:49] #45 closed

[2020-11-08 15:50] Harshita248 commented on #46
done nice work @Surajbokde

[2020-11-08 15:50] #46 closed

[2020-11-08 16:22] Surajbokde commented on #12
@Harshita248 is this issue is over??

[2020-11-08 16:24] Harshita248 commented on #12
Yes

[2020-11-08 16:24] #12 closed

[2020-11-08 16:29] Surajbokde opened #75 "modification in footer Section, Header section and nav bar"
1. modify footer part
2.Delete unwanted pages from nav

[2020-11-08 16:30] Surajbokde commented on #75
hey , i want to work on this

[2020-11-08 16:34] Surajbokde commented on #68
@chehak123  i did the logo part in my resent pr . @bhavesh1129 just do the title part, and do it fast.

[2020-11-09 07:35] ineffable23 commented on #71
@Harshita248 I'm interested
Assign me the issue so that I could work on it

[2020-11-09 08:14] ineffable23 commented on #69
I'm interested to work on it

[2020-11-09 08:32] Harshita248 commented on #71
You guyz maintain a Google docs and decide yourself which content is good for home page and about page and then put it in the Website. If you see a dummy content anywhere in the Website add the contents there and change it. @ineffable23  and @sakshi300699

[2020-11-09 08:33] Harshita248 commented on #71
If you are okay working with backend go ahead . You can take help from various other participants working on backend part @ineffable23 .

[2020-11-09 08:35] Harshita248 commented on #69
You guyz maintain a Google docs and decide yourself which content is good for home page and about page and then put it in the Website. If you see a dummy content anywhere in the Website add the contents there and change it. @ineffable23 and @sakshi300699

[2020-11-09 08:44] sakshi300699 commented on #69
Okay Ma'am!

[2020-11-09 09:11] ineffable23 commented on #69
Okay ma'am 🙂

[2020-11-09 09:11] chehak123 commented on #75
Go ahead @Surajbokde

[2020-11-09 11:08] sakshi300699 commented on #69
LINK FOR GOOGLE DOCS - https://docs.google.com/document/d/18FyKd4UeROlRHQ2fQDgcHLi6RWKKyoZUrrXq-ODxUyQ/edit?usp=sharing

[2020-11-10 04:43] Harshita248 commented on #39
@punitsakre23 need some response from you . So that I can assign it to someone else. Please reply asap

[2020-11-10 04:54] Surajbokde commented on #73
@m-code12 do it by today plz.

[2020-11-10 04:58] Surajbokde commented on #73
@chehak123 is there any need to remove header top which include social media icons.???
i don't think so coz when we scroll down it will hide.

[2020-11-10 12:55] m-code12 commented on #73
Yes, I will make a pr by today

[2020-11-12 07:22] Harshita248 commented on #73
done

[2020-11-12 07:22] #73 closed

[2020-11-12 07:23] Harshita248 commented on #75
done

[2020-11-12 07:23] #75 closed

[2020-11-13 06:23] #69 closed

[2020-11-13 19:42] ManasSahni commented on #68
Can I work on this?

[2020-11-20 03:02] #68 closed